<div class="cardsContenido">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col fcar">
          <div class="card">
            <img src="../../assets/sajpo.png" class="card-img-top" alt="...">
            <div class="card-body" id="izq">
              <h5 class="card-title">Sajta de Pollo</h5>
              <p class="card-text">La sajta de pollo es un plato tradicional paceño que consiste en pollo desmenuzado y servido en una salsa picante de ají amarillo, cebolla, ajo y especias. Se acompaña generalmente con chuño (papas deshidratadas), papas hervidas y una ensalada de cebolla y tomate.</p>
            </div>
          </div>
        </div>
        <div class="col fcar">
          <div class="card">
            <img src="../../assets/chai.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> Chairo Paceño</h5>
              <p class="card-text">El chairo paceño es una sopa espesa y sustanciosa que es muy popular en La Paz. Se elabora con carne de res o cordero, chuño, papas, zanahorias, maíz, cebolla, ajo, y otros vegetales, sazonada con hierbas como el orégano y la hierbabuena.</p>
            </div>
          </div>
        </div>
        <div class="col fcar">
          <div class="card" id="izq">
            <img src="../../assets/anti.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Anticuchos</h5>
              <p class="card-text">Los anticuchos son brochetas de corazón de res marinadas en una mezcla de ají panca (un tipo de pimiento), ajo y comino, y luego asadas a la parrilla.</p>
            </div>
          </div>
        </div>
        <div class="col fcar">
          <div class="card">
            <img src="../../assets/fric.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Fricase Paceño</h5>
              <p class="card-text">El fricasé paceño es un guiso tradicional hecho con carne de cerdo, ají amarillo, ajo, cebolla y comino. Se sirve con maíz blanco (mote), papas y chuño. Es conocido por su sabor picante y su rica salsa.</p>
            </div>
          </div>
        </div>
      </div>
</div>